save-exact=true
save-prefix=
@npm-shared-services:registry=https://gigi-838300766309.d.codeartifact.eu-central-1.amazonaws.com/npm/npm-shared-services/
//gigi-838300766309.d.codeartifact.eu-central-1.amazonaws.com/npm/npm-shared-services/:always-auth=true
//gigi-838300766309.d.codeartifact.eu-central-1.amazonaws.com/npm/npm-shared-services/:_authToken=${NPM_TOKEN}
